<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    All Posts
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show post</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @post.title %></dd>
  <dt>Overview:</dt>
  <dd><%= @post.overview %></dd>
  <dt>Thumbnail:</dt>
  <dd>
    <% if @post.thumbnail.attached? %>
      <%= image_tag(@post.thumbnail.variant(resize: '200x200')) %>
    <% end %>
  </dd>
  <dt>Content:</dt>
  <dd><%= @post.content %></dd>
  <dt>User:</dt>
  <dd><%= @post.user.email %></dd>
  <dt>Published:</dt>
  <dd><%= @post.published %></dd>
</dl>
